[Unit]
Description=Generate Outpost MOTD
DefaultDependencies=no
Before=display-manager.service
ConditionPathExists=/usr/share/outpost/motd/template.md

[Service]
Type=oneshot
ExecStart=/usr/bin/outpost-motd
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target