[Desktop Entry]
Name=Outpost
Comment=Outpost defualt desktop appearance
Type=Service

X-KDE-ServiceTypes=Plasma/LookAndFeel
X-KDE-PluginInfo-Autor=Outpost
X-KDE-PluginInfo-Email=https://github.com/large-farva/Outpost
X-KDE-PluginInfo-Name=org.outpost.desktop
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-Website=https://github.com/large-farva/outpost
X-KDE-PluginInfo-License=Apache-2.0
X-KDE-PluginInfo-EnabledByDefault=true
