[SddmGreeterTheme]
Name=Outpost
Description=Outpost Theme - Fork of Breeze
Author=large-farva
Copyright=(c) 2014, David Edmundson
License=CC-BY-SA
Type=sddm-theme
Version=0.3
Website=https://github.com/large-farva/outpost
Screenshot=preview.png
MainScript=Main.qml
ConfigFile=theme.conf
TranslationsDirectory=translations
Email=
Theme-Id=outpost
Theme-API=2.0
QtVersion=6
