[Unit]
Description=Outpost: register OpenSC for NSS applications

[Service]
Type=oneshot
ExecStart=/usr/bin/firefox-module
SuccessExitStatus=0

[Install]
WantedBy=graphical-session.target
