[Unit]
Description=Outpost: addd OpenSC PKCS#11 to user NSS DB on first login
ConditionEnvironment=!container
ConditionPathExists=!%h/.config/outpost/.nss-opensc-done

[Service]
Type=oneshot
ExecStart=/usr/bin/bash /usr/libexec/outpost/nss-opensc.sh
TimeoutSec=60

[Install]
WantedBy=default.tartget