[Desktop Entry]
Name=Outpost
Comment=Outpost default wallpaper
Type=Service

X-KDE-ServiceTypes=Plasma/Wallpaper
X-KDE-PluginInfo-Name=Outpost
X-KDE-PluginInfo-Author=Outpost
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-Website=https://github.com/large-farva/outpost
X-KDE-PluginInfo-License=Apache-2.0